@model Uniayuda.Models.PostViewModel

@{
    ViewBag.Title = "Post";
}

<div>
    <hr />
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4" style="border: 1px solid black; padding: 20px;border-radius: 6px 6px 0px 0px">
            <h3 style="margin-top:0px;">@Model.Title</h3>
            <p>@(Model.EditedDate.HasValue ? "Last Time Edited " + Model.EditedDate : "Created Date " + Model.CreatedDate)</p>
            @*@Html.DisplayFor(model => model.Url)*@
            <p><strong>Author:</strong> @Model.UserAuthor</p>
            @if (!string.IsNullOrEmpty(Model.Comment))
            {
                <p><strong>Description:</strong> @Model.Comment</p>
            }
            <div>
                <span><strong>Valoration: </strong></span>
                <span id="star-1" class="fa fa-star" style="cursor: pointer"></span>
                <span id="star-2" class="fa fa-star" style="cursor: pointer"></span>
                <span id="star-3" class="fa fa-star" style="cursor: pointer"></span>
                <span id="star-4" class="fa fa-star" style="cursor: pointer"></span>
                <span id="star-5" class="fa fa-star" style="cursor: pointer"></span>
                <span id="averageStars"> (@Model.AssesmentAverage)</span>
            </div>
        </div>
    </div>
    <div id="oldComments">
        @foreach (var comment in Model.Comments)
        {
            <div class="row">
                <div class="col-sm-offset-4 col-sm-4" style="border: 1px solid black;border-top: 0px;padding: 20px">
                    <img src="~/Assets/61205.png" alt="userPhoto" height="50" width="50" style="padding:0px" class="col-sm-1" />
                    <div class="col-sm-11">
                        <div class="row">
                            <h4 style="float: left;margin:10px">@comment.UserName</h4>
                            <p style="margin-top:10px"> - @comment.CreatedDate</p>
                        </div>
                        <p>@comment.Value</p>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4" style="border: 1px solid #bcbaba;border-top: 0px;padding: 20px;border-radius:0px 0px 6px 6px">
            <img src="~/Assets/61205.png" alt="userPhoto" height="50" width="50" style="padding:0px" class="col-sm-1" />
            <div class="col-sm-11">
                <textarea rows="2" type="text" id="newComment" placeholder="New Comment" class="form-control"></textarea>
            </div>
            <button id="postComment" type="button" class="btn btn-default" style="margin-top:5px;float:right;margin-right:15px">Post</button>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Index", new { id = Model.Id }) |
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</p>

@section Scripts{
    <script type="text/javascript">
        (function () {
            for (var i = parseInt("@Model.UserAssesment"); i > 0; i--) {
                $("#star-" + i).css("color", "orange");
            }

            $("#postComment").on("click", function (e) {
                var comment = $("#newComment").val();
                console.log(comment);
                if (comment.length > 0) {
                    addComment(comment);
                }
            });

            $("#star-1").on("click", function (e) {
                $("#star-1").css("color", "orange");
                $("#star-2").css("color", "");
                $("#star-3").css("color", "");
                $("#star-4").css("color", "");
                $("#star-5").css("color", "");
                addAssessment(1);
            });
            $("#star-2").on("click", function (e) {
                $("#star-1").css("color", "orange");
                $("#star-2").css("color", "orange");
                $("#star-3").css("color", "");
                $("#star-4").css("color", "");
                $("#star-5").css("color", "");
                addAssessment(2);
            });
            $("#star-3").on("click", function (e) {
                $("#star-1").css("color", "orange");
                $("#star-2").css("color", "orange");
                $("#star-3").css("color", "orange");
                $("#star-4").css("color", "");
                $("#star-5").css("color", "");
                addAssessment(3);
            });
            $("#star-4").on("click", function (e) {
                $("#star-1").css("color", "orange");
                $("#star-2").css("color", "orange");
                $("#star-3").css("color", "orange");
                $("#star-4").css("color", "orange");
                $("#star-5").css("color", "");
                addAssessment(4);
            });
            $("#star-5").on("click", function (e) {
                $("#star-1").css("color", "orange");
                $("#star-2").css("color", "orange");
                $("#star-3").css("color", "orange");
                $("#star-4").css("color", "orange");
                $("#star-5").css("color", "orange");
                addAssessment(5);
            });
        })();

        function addComment(comment) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddComment", "Post")',
                data: { postId: "@Model.Id", newComment: comment },
                success: function (data) {
                    switch (data.ResponseStatus.toString()) {
                        case "@Entities.Enums.ResponseStatus.Success.GetHashCode()":
                            var dbComment = '<div class="row"><div class="col-sm-offset-4 col-sm-4" style="border: 1px solid black;border-top: 0px;padding: 20px">' +
                                '<img src="/Assets/61205.png" alt="userPhoto" height="50" width="50" style="padding:0px" class="col-sm-1" /><div class="col-sm-11"><div class="row">' +
                                '<h4 style="float: left;margin:10px">' + data.Name + '</h4>' +
                                '<p style="margin-top:10px"> - ' + data.Date + '</p>' +
                                '</div>' +
                                '<p>' + data.Comment + '</p>' +
                                '</div></div></div>'
                            $("#oldComments").append(dbComment);
                            $("#newComment").val("");
                            break;
                        case "@Entities.Enums.ResponseStatus.Error.GetHashCode()":
                            console.log(data);
                            break;
                    }
                },
                error: function (data) {
                    console.log("Login Error");
                    console.log(data);
                }
            });
        }

        function addAssessment(level) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddAssessment", "Post")',
                data: { postId: "@Model.Id", level: level },
                success: function (data) {
                    switch (data.ResponseStatus.toString()) {
                        case "@Entities.Enums.ResponseStatus.Success.GetHashCode()":
                            $("#averageStars").text(" (" + data.Average + ")");
                            break;
                        case "@Entities.Enums.ResponseStatus.Error.GetHashCode()":
                            $("#star-1").css("color", "");
                            $("#star-2").css("color", "");
                            $("#star-3").css("color", "");
                            $("#star-4").css("color", "");
                            $("#star-5").css("color", "");
                            console.log(data);
                            break;
                    }
                },
                error: function (data) {
                    console.log("Login Error");
                    console.log(data);
                    $("#star-1").css("color", "");
                    $("#star-2").css("color", "");
                    $("#star-3").css("color", "");
                    $("#star-4").css("color", "");
                    $("#star-5").css("color", "");
                }
            });
        }
    </script>
}
