@model Uniayuda.Models.ProfileViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>ProfileViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pleasures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pleasures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sentence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sentence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Investment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Investment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URLPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URLPhoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfessionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Professions.FirstOrDefault(k => k.Value == Model.ProfessionId.ToString()).Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Countries.FirstOrDefault(k => k.Value == Model.CountryId.ToString()).Text)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Profile") |
    @Html.ActionLink("Settings", "Settings")
</p>

